ul.a {
    list-style-type: circle;
}
/* Place the navbar at the bottom of the page, and make it stick */
nav 2 {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h3 {
	letter-spacing:1px;
	line-height: 2;
	text-decoration: underline;
}



h5{
	letter-spacing: 3px;
	word-spacing: 7px;
	margin-left: 40px;

}

Tabs{
	margin-right: 40px;

}

p{
	line-height:2;
	font-size: 18px;
}